body {
  margin: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: linear-gradient(to right, #7393b3 , #87c9df, #acffff);
}

.main-container{
  height: 100vh;
}

.main-header{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rules-btn-div{
  margin-top: 1.7%;
  margin-right: 5%;
}

.rules-btn{
  font-size: 1.2em;
  background-color: transparent;
  border: 0px;
  text-decoration: underline;
  font-weight: 600;
}

.rules-btn:hover{
  color: blue;
  cursor: pointer;
}

.main-header h3{
  margin-left: 5%;
}

.game-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%; 
}

.wordquake-main{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  height: 75%;
  border-radius: 20px;
  background-color: transparent;
}

.wordquake-board-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 10px;
  padding: 0 15px 0 15px;
}


.wordquake-board-top-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
}

.btn{ 
  background-color: rgba(202, 202, 202, 0.5);
  border: solid 1px black; 
}

.btn:hover{
  cursor: pointer;
}

.new-game-btn{
  font-size: 1.5em;
  border-radius: 4px;
  margin-left: 10px;
  font-weight: 600;
}

.new-game-btn:hover{
  background-color: rgba(97, 233, 106, 0.5);
}

.timer, .score{
  font-size: 1.5em;
  margin-right: 10px;
}

.board-container{
  font-size: 3em;
  border-radius: 20px;
  margin-bottom: 10px;
  background-color: rgba(225, 238, 237, 0.5);
  border: 1px white solid;
}

.board-row{
  display: flex;
  flex-direction: row;
}

.board-cell{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
}

.board-inner-cell{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  width: 1.3em;
  height: 1.3em;
  border-radius: 20px;
  background-color: white;
}

.word-input-live, .word-input-dead{
  width: 35%;
  padding: .2em;
  font-size: 1.4em;
  border-radius: 5px;
  text-transform: uppercase;
}

.word-input-dead{
  color: red;
  -webkit-text-stroke-width: .2px;
  -webkit-text-stroke-color: white;
  background-color: gray;
  text-align: center;
}

.word-submit-btn{
  font-size: 1em;
  padding: .5em;
  border-radius: 4px;
  margin-left: 10px;
}

.word-list{
  display: flex;
  width: 25%;
  justify-content: center;
  align-items: flex-start;
  align-self: flex-start;
  height: 75%;
  border-radius: 20px;
  background-color: transparent
}

.word-list-table{
  margin-top: 10px;
}

.word-list-header-alert{
  padding: 5px;
  font-size: 1em;
}

.word-list-header-title{
  font-size: 2em;
}

.word-cell{
  font-size: larger;
  padding: 10px;
}

.shake {
  animation: shake .5s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.show {display:block;}

.rules-popup{
  position: fixed;
  background-color: rgb(24, 24, 24, .5);
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #f1f1f1;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rules-popup-container{
  position: fixed;
  background-color: rgb(24, 24, 24, .5);
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #f1f1f1;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rules-container{
  margin: auto;
  text-align: center;
}

.rules-main{
  height: 25em;
  width: 20em;
  min-width: 30em;
  padding: 1px;
  background-color: white;
  display: inline-block;
  text-align: left;
  border: solid black 1px;
  border-radius: 5px;
  padding: 0px 20px 20px 20px;
}

.rules-main-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5%;
}

.header{
  font-size: 2em;
  text-decoration: underline;
}

.exit-btn{
  font-size: 1em;
}

.exit-btn:hover{
  cursor: pointer;
}

.rules-list{
  
}